<div class="container" style="margin-top: 20px;">
    <div class="row">
      <h2>Orders {{orders.length}}</h2>
      <div class="order" 
           class="card" style= "border: 1px solid black; margin:1px;" 
           class="col-md-3" *ngFor="let order of orders">
       <app-order [data]="order" (handleSelect)="select(order)"></app-order>
      </div>
    </div>
  
    <div class="row">
       <h2>Selected Orders {{selectedOrders.length}}</h2>
       <div class="order" 
            class="card" style= "border: 1px solid black; margin:1px;" 
            class="col-md-3" *ngFor="let selectedOrder of selectedOrders">
        <app-order [data]="selectedOrder" (handleSelect)="unselect(selectedOrder)"></app-order>
      </div>
    </div>

  </div>
