<div class="card-body">
    <h5 class="card-title">Order id {{order.order_id}}</h5>
    <p class="card-text">
      Total Number of Order Items: {{order.line_items.length}}
    </p>
    <p>
      Merchant Name: {{order.merchant_name}}
    </p>
    <a (click)="select(order)" class="btn btn-success">Details</a> 
                
  </div>