<div class="container">
  <div class="row" style="margin-top: 20px;">
      <div class="col-md-8">
            <form ngForm #orderForm = "ngForm" (ngSubmit)="submitOrder(orderForm.value)">
                <div class="form-group">
                    <label for="merchantName">Merchant Name</label>
                    <input  
                        ngModel 
                        name = "merchantName" 
                        type="text" 
                        class="form-control" 
                        id="merchantName" 
                        #merchantName = "ngModel"
                        required
                        minlength="8"
                        aria-describedby="merchantNameHelp">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="merchantName.touched && merchantName.errors && merchantName.errors.required" >
                        Merchant name is required field
                    </span>
                    <span class="alert alert-danger" *ngIf="merchantName.touched && merchantName.errors && merchantName.errors.minlength" >
                        Merchant name should be of {{merchantName.errors.minlength.requiredLength - merchantName.errors.minlength.actualLength }} length
                    </span>                       
                </div> 
                <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input 
                        ngModel 
                        name = "itemName" 
                        type="text" 
                        class="form-control" 
                        id="itemName"
                        #itemName = "ngModel"
                        required
                        minlength="6" 
                        aria-describedby="itemNameHelp">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="itemName.touched && itemName.errors && itemName.errors.required" >
                        item name is required field
                    </span>
                    <span class="alert alert-danger" *ngIf="itemName.touched && itemName.errors && itemName.errors.minlength" >
                        item name should be of {{itemName.errors.minlength.requiredLength - itemName.errors.minlength.actualLength }} length
                    </span>
                </div>

                <div class="form-group">
                    <label for="itemPrice">Item Price</label>
                    <input 
                        ngModel 
                        name = "itemPrice" 
                        type="text" 
                        class="form-control" 
                        id="itemPrice"
                        #itemPrice="ngModel"
                        required 
                        aria-describedby="itemPriceHelp">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="itemPrice.touched && itemPrice.errors && itemPrice.errors.required" >
                        Item Price is required field
                    </span>
                    <span class="alert alert-danger" *ngIf="itemPrice.touched && itemPrice.errors && itemPrice.errors.minlength" >
                        Item Price should be of {{itemPrice.errors.minlength.requiredLength - itemPrice.errors.minlength.actualLength }} length
                    </span>                       
                </div>
                <div class="form-group">
                    <label for="orderDate">Order Date</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        ngModel 
                        name = "orderDate" 
                        #orderDate = "ngModel" 
                        id="orderDate">
                </div>
                <div>
                    <span class="alert alert-danger" *ngIf="orderDate.touched && orderDate.invalid" >
                        Order date is required field
                    </span>
                </div>
                <button 
                    type="submit" 
                    [disabled]="orderForm.invalid"
                    class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>  
</div>
